*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 40px;
  font-size: large;
 
}

.main{
  padding-top: 150px;
  text-align: center;
}
.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}
.header {
  margin-bottom: 30px;
}
.share-btn {
  position: absolute;
  right: 35%;
  height: 30px;
}

.profile-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.links{
  display: grid;
  gap: 30px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 40px;
}
sub{
  font-size: x-small;
}
a {
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  text-align: center;
  height: 90px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding-top: 20px;
  line-height: 20px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
}
.contact-pg{
  box-sizing: border-box;
  padding: 20px;
  padding-top: 50px;
  position: relative;
}

form{
 max-width: 50%;
 margin: auto;

}


.contact-el {
  text-align: left;
  font-size: small;
  display: inline-block;

}

label {
  font-size: small;
  text-align: left;
}

.contact-head{
  text-align: left;
}

.inputs {
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  text-indent: 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid #444;
}
textarea {
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  text-indent: 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid #444;
}

.submit-btn {
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #444;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

hr{
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px; 
  width: 50%; 
  margin-bottom: 40px;
}
.sml-icons{
  word-spacing: 20px;
}
.footer-icon{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer-icon:hover {
  transform: scale(1.1);
}
.world {
  line-height: 18px;
  font-size: large;
  text-align: center;
}


.ingressive-sect {
  position: relative;  
  padding-left: 0px;
}

.world-icn {
  margin-right: 10px;
  height: 10px;
  position: absolute;
}


.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 50px;  
}
.footer_contact {
  margin: auto;
  max-width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 50px;  
}
.footer-links {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .share-btn{
    right: 20%;
  }
  .footer{  
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .share-btn{
    right: 20%;
  }
  .footer{
    font-size: 1.0rem;
  }
  .world-icn{
    right: 75%;
  }

}


@media only screen and (min-width: 768px) {
  .world-icn{
    right: 70%;
    margin-right: 15px;
  }

}


@media only screen and (min-width: 992px) {
  .world-icn{
    right: 60%;
  }
  .ingressive-sect{
    text-align: right;
    
  }

}


@media only screen and (min-width: 1200px) {
  .world-icn{
    right: 59%;
  }
}





